/* CSS Document */

.body01 {margin:0px; background:#101010 url(../images/page_bg01.jpg) no-repeat;}
.body02 {margin:0px; background:#101010 url(../images/page_bg02.jpg) no-repeat;}

/* CSS Nav Start */
.nav_main_placeholder {background:url(../images/nav_bg.png) no-repeat; background-position:top right; padding:0px 62px 0px 0px;}

.nav_link01 {padding-bottom:7px; border-bottom:solid 6px #ffc005; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#FFFFFF;}
.nav_link02 {font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#FFFFFF;}
.nav_link02 a {font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#FFFFFF; text-decoration:none;}
.nav_link02 a:hover {padding-bottom:7px; border-bottom:solid 6px #4f4f4f; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#FFFFFF; text-decoration:none;}
/* CSS Nav End */

/* CSS Write Up Start */
.write_up_main_placeholder {padding:0px 58px 0px 0px; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:normal; color:#a4a4a4; line-height:20px;}
.write_up_main_placeholder a {font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; color:#e0a43e; text-decoration:underline;}
.write_up_main_placeholder a:hover {font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; color:#e0a43e; text-decoration:none;}
.new_link a {font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; color:#e0a43e; text-decoration:none;}
.new_link a:hover {font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; color:#888888; text-decoration:none;}
/* CSS Write Up End */

/* CSS Block01 Start */
.block01_top_div {background:url(../images/home_block01_top_bg01.png) no-repeat;}
.block01_mid_div {background:url(../images/home_block01_mid_bg01.png) repeat-y; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#FFFFFF; line-height:20px;}
.block01_bottom_div {background:url(../images/home_block01_bottom_bg01.png) no-repeat;}

.block01_text_block {padding-top:20px; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#FFFFFF; line-height:20px;}
.block01_text_block a {font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; color:#e0a43e; text-decoration:underline;}
.block01_text_block a:hover {font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; color:#e0a43e; text-decoration:none;}

.block02_text_block {padding-top:20px; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#FFFFFF; line-height:20px;}
.block02_text_block a {font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:normal; color:#FFFFFF; text-decoration:underline;}
.block02_text_block a:hover {font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:normal; color:#FFFFFF; text-decoration:none;}

.block01_text01 {font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:normal; color:#FFFFFF;}
.block01_text02 {font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:normal; color:#916314;}
.block01_text03 {background: url(../images/header_bg01.png) repeat-y; padding:5px 0px 5px 10px; font-family:"Trebuchet MS", Arial, Verdana; font-size:18px; font-weight:bold; color:#a4a4a4;}
/* CSS Block01 End */

/* CSS Component Start */
.f_leaves_div {position:absolute; margin:0px 0px 0px 840px;}
/* CSS Component End */

/* CSS Popup Start */
#overlay {width:100%; height:100%; top:0px; left:0px; background-color:none; opacity:0; filter:alpha(opacity=0); position:fixed; z-index:1000; display:none;}
#popup {position:absolute; margin:-175px 0px 0px 553px; width:407px; display:none; z-index:1001;}
#popup .top01 {height:13px; background:url(../images/modal/modal_top_bg01.png) no-repeat;}
#popup .mid01 {background:url(../images/modal/modal_mid_bg01.png) repeat-y;}
#popup .bottom01 {height:13px; background:url(../images/modal/modal_bottom_bg01.png) no-repeat;}

.popup_close_div {width:381px; margin-left:auto; margin-right:auto;}
.popup_header_div {font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:normal; color:#ffd200; line-height:20px; padding:5px 70px 20px 40px;}
.about_new_header {font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:normal; color:#ffd200; line-height:20px; padding:0px 0px 20px 40px;}
.popup_header_div .name_text {font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:normal; font-style:italic; color:#FFFFFF;}
.popup_image_div {height:15px;}
.popup_image_div .leaves {position:absolute; margin:-7px 0px 0px 287px; width:98px; height:48px; background:url(../images/f_leaves_over.png) no-repeat;}
/* CSS Popup End */

/* CSS Footer Start */
.footer_main_placeholder {padding:30px 0px 25px 0px; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#cccccc; line-height:25px;}
.footer_link01 {font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#cccccc; text-decoration:none;}
.footer_link01:hover {font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#cccccc; text-decoration:underline;}
.footer_link02 {font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#cccccc; text-decoration:underline;}
.footer_link02:hover {font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#cccccc; text-decoration:none;}

.link_divider01 {padding:0px 10px 0px 10px;}
/* CSS Footer End */

/* CSS L2 Logo Start */
.l2_logo_main_placeholder {padding:0px 0px 0px 40px;}
/* CSS L2 Logo End */

/* CSS L2 Body Start */
.page_header {background:#3a3a3a; padding:0px 10px 0px 10px; font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:normal; color:#d3d3d3;}
.page_header_link_1 {font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#e0a43e; text-decoration:none;}
.page_header_link_2 {font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#888888; text-decoration:none;}
.page_header_link_2:hover {font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#888888; text-decoration:none;}
.page_header_link_3 {font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#888888; text-decoration:none;}

.page_header_link {font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#e0a43e; text-decoration:underline;}
.page_header_link:hover {font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#e0a43e; text-decoration:none;}

.l2_body_block01 {font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:normal; color:#a4a4a4; line-height:25px;}
.l2_body_block01 a {font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:normal; color:#e0a43e; text-decoration:underline;}
.l2_body_block01 a:hover {font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:normal; color:#e0a43e; text-decoration:none;}

.l2_body_block01_inner01 {padding:25px 0px 0px 0px;}

.indication_text {font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#FF0000;}

.textfield01 {background:#131313; border:solid 1px #6f6f6f; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#a4a4a4; width:250px; padding:3px 0px 3px 0px;}
.button01 {background:#393939 url(../images/button01.gif) repeat-x; border:solid 1px #6f6f6f; font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; color:#a4a4a4; padding:2px 10px 2px 10px;}
/* CSS L2 Body End */

/* CSS Popup02 Start - added 16th Oct 2013 */
#overlay01, #overlay02, #overlay {width:100%; height:100%; top:0px; left:0px; background-color:none; opacity:0; filter:alpha(opacity=0); position:fixed; z-index:1000; display:none;}
#popup01, #popup02, #popuperror, #popupsuccess {position:absolute; margin:-275px 0px 0px 115px; width:729px; display:none; z-index:1001;}
.popup_close_div02 {position:absolute; width:723px; margin-top:5px; margin-left:auto; margin-right:auto;}
/* CSS Popup02 End - added 16th Oct 2013 */